.named-color {
    background-color: red;
    width: 200px;
    height: 100px;
}
.hex-color {
    background-color: #3498db;
    width: 200px;
    height: 100px;
}
.rgb-color {
    background-color: rgb(46, 204, 113);
    width: 200px;
    height: 100px;
}
    .rgba-color {
    background-color: rgba(46, 204, 113, 0.5);
    width: 200px;
    height: 100px;
}
.opacity-color {
    background-color: rgb(46, 204, 113);
    opacity: 0.5;
    width: 200px;
    height: 100px;
}